.MyPageFrame {
  width: 100%;
  height: 70rem;
  display: inline-block;
  justify-content: center;
}

.MyPageInner {
  margin-top: 9.35rem;
  width: 61.875rem;
  height: 51.5rem;
  display: inline-block;
  text-align: start;
}

.MyPageInner.blur {
  filter: blur(0.5rem);
}

.TextMyInfo {
  color: #000;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.6px;
}

.MyInfoFrame {
  margin-top: 2.0625rem;
  width: 61.875rem;
  height: 43.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.MyInfoContainer {
  width: 30rem;
  height: 6.3125rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyInfoInnerContainer {
  position: relative;
  width: 25rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
}

.MyInfoCategory {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.MyInfoCategory.NoneColor {
  color: #f94747;
}

.MyInfoCategoryContent {
  margin-left: 1.6875rem;
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.MyInfoContainerInput {
  width: 15rem;
  margin-left: 1.6875rem;
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.5rem;
}

.MyInfoFixButton {
  position: absolute;
  right: 0rem;
  color: var(--Primary, #3876c0);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
}

.ProfileImgContainer {
  width: 30rem;
  height: 10rem;
  border-radius: 1.25rem;
  /* background: var(--color-ui-0, #fff); */
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
}

.ProfileImgContainerText {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 2.5rem;
}

.ProfileImgContainerImgBox {
  width: 6.8125rem;
  height: 6.8125rem;
  border-radius: 6.8125rem;
  overflow: hidden;

  margin-left: 6rem;
}

.ProfileImgContainerImg {
  width: 100%;
  height: 100%;
}

.ProfileImgContainerButton {
  color: var(--Primary, #3876c0);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-left: 1.875rem;
  cursor: pointer;
}

.ImgDeleteButton {
  color: #f94747;
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 1.25rem;

  cursor: pointer;
}

.MyInfoContainerFrame {
  height: 18.4375rem;
  width: 61.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MyInfoSecondContainer {
  width: 30rem;
  height: 18.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.IntroductionContainer {
  width: 30rem;
  height: 18.4375rem;
  border-radius: 1.25rem;
  background: var(--color-ui-0, #fff);
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.IntroductionInnerContainer {
  width: 25.5rem;
  height: 13.6875rem;
}

.TestIntroductionBox {
  width: 25.5rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TestIntroduction {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.IntroductionReplace {
  color: var(--Primary, #3876c0);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.NoneIntroductionText {
  margin-top: 1.3125rem;
  color: #f94747;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.IntroductionTextArea {
  width: 24rem;
  height: 10.875rem;
  resize: none;
  border: none;
  outline: none;
  margin-top: 1.3125rem;
  background-color: #eae8e8;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.625rem;

  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.ToggleButtonFrame {
  width: 2.8125rem;
  height: 1.25rem;
  background-color: #eae8e8;
  border-radius: 1.25rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
}

.ToggleButtonFrame.active {
  background-color: rgb(95, 194, 95);
}

.ToggleButtonMainFrame {
  background-color: #eae8e8;
  width: 3rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  justify-content: center;
}

.ToggleButtonMainFrame.active {
  background-color: rgb(95, 194, 95);
}

.ToggleButtonCircle {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.ToggleButtonCircle.active {
  left: calc(100% - 1.25rem);
}

.ToggleButtonLocation {
  margin-left: 16.3rem;
}

.ChangeComponentFixButton {
  position: absolute;
  right: 0;
  color: var(--Primary, #3876c0);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.FixConponentFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56.6875rem;
  height: 24.375rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FixConponentInner {
  width: 47.9375rem;
  height: 16.6875rem;
  text-align: start;
}

.FixConponentTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

.FixConponentInputFrame {
  width: 47.9375rem;
  height: 5.5rem;
  margin-top: 35px;
}

.FixConponentInputInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33rem;
  height: 1.875rem;
}

.FixConponentInputTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.FixConponentInputSecondInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FixConponentFirstInput {
  width: 25.625rem;
  height: 3.3125rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #e3e3e3;

  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  padding-left: 1.875rem;
}

.FixConponentSecondInput {
  width: 16.4375rem;
  height: 3.3125rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #e3e3e3;

  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  padding-left: 1.875rem;
}

.FixConponentButtonFrame {
  width: 47.9375rem;
  height: 3rem;
  margin-top: 2.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FixConponentCancleButton {
  width: 23.4375rem;
  height: 3rem;
  border-radius: 0.625rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  cursor: pointer;
}

.FixConponentRegisterButton {
  width: 23.4375rem;
  height: 3rem;
  border-radius: 0.625rem;
  background: #3876c0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  cursor: pointer;
}

.ChangePasswordFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56.6875rem;
  height: 30rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChangePasswordInner {
  width: 47.9375rem;
  height: 22.25rem;
  text-align: start;
}

.TextChangePassword {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 169.836%;
}

.TextLastPassword {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;
  margin-top: 10px;
}

.LastPasswordInput {
  width: 46rem;
  height: 3.3125rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #e3e3e3;
  font-size: 1rem;

  padding-left: 1.25rem;
}

.NewPasswordTextFrame {
  width: 32.4375rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.625rem;
}

.NewPasswordText {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;
}

.NewPasswordInputFrame {
  width: 47.9375rem;
  height: 3.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.1875rem;
}

.NewPasswordInput {
  width: 22rem;
  height: 3.3125rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #e3e3e3;
  padding-left: 1.25rem;
  font-size: 1rem;
  font-family: Pretendard;
}

.ChangePasswordButtonFrame {
  width: 47.9375rem;
  height: 3rem;
  margin-top: 2.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ChangePasswordCancle {
  width: 23.4375rem;
  height: 3rem;
  border-radius: 0.625rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;

  cursor: pointer;
}

.ChangePasswordRegister {
  width: 23.4375rem;
  height: 3rem;
  border-radius: 0.625rem;
  background: #3876c0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;

  cursor: pointer;
}

.IntroductionChangeContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56.6875rem;
  height: 42.5rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IntroductionChangeContainerInner {
  width: 47.9375rem;
  height: 34.9375rem;
  text-align: start;
}

.TextIntorductionFix {
  color: #000;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 169.836%;
}

.TextLimitContainer {
  width: 47.9375rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TextIntroduction {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;
}

.IntroductionChangeContainerTextLimit {
  color: #8c8c8c;
  text-align: right;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;
}

.IntroductionChangeTextArea {
  margin-top: 0.3125rem;
  width: 45.5rem;
  height: 15.75rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #e3e3e3;
  padding-left: 1.25rem;
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  outline: none;
  resize: none;

  color: #373737;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;
}

.IntroductionChangeTextPassword {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;

  margin-top: 1.875rem;
}

.IntroductionChangePasswordInput {
  width: 46.5rem;
  height: 3.3125rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #e3e3e3;
  padding-left: 1.25rem;
  font-size: 1rem;
  margin-top: 0.1875rem;
}

.IntroductionChangeButtonBox {
  width: 47.9375rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.8125rem;
}

.IntroductionChangeButtonCancle {
  width: 23.4375rem;
  height: 3rem;
  border-radius: 0.625rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;

  cursor: pointer;
}

.IntroductionChangeButtonRegister {
  width: 23.4375rem;
  height: 3rem;
  border-radius: 0.625rem;
  background: #3876c0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;

  cursor: pointer;
}

.IntroductionChangeTextArea.overLimit {
  border-color: red;
}

.IntroductionChangeTextArea.focused {
  border-color: #3876c0;
}

.ExistIntroductionText {
  margin-top: 1.3125rem;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.FixBirthContainer {
  width: 767px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.FixBirthBox {
  width: 707px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FixBirthDate {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%; /* 31.974px */
}

.seoulImg {
  vertical-align: -3px;
  padding-right: 10px;
}

.DatePicker {
  background-color: aliceblue;
  width: 737px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  padding-left: 30px;
  font-size: 20px;
}

.SubWaySelectFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 907px;
  height: 390px;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubWaySelectInner {
  width: 767px;
  height: 267px;
  text-align: start;
}

.SubWaySelectTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 169.836%; /* 40.761px */
  letter-spacing: -0.96px;
}

.SubWaySelectTextBox {
  width: 388px;
  height: 32px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TextLineSelect {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%; /* 31.974px */
}

.SubWaySelectDropsetFrame {
  width: 767px;
  height: 53px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LocationSoulBox {
  width: 187px;
  height: 53px;
  border-radius: 10px;
  background: var(--KG_OUTLINE, #ececec);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;
  padding-left: 30px;
  padding-right: 30px;
}

.addressOption {
  width: 470px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../../../public/img/SubwayArrow.svg") no-repeat right 15px
    center;
  padding-left: 15px;
}
