.dropdown-first {
  width: 227px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 199.836%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../public/img/SubwayArrow.svg")
    no-repeat right 15px center;
  padding-left: 15px;
}

.dropdown-second {
  width: 470px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../public/img/SubwayArrow.svg")
    no-repeat right 15px center;
  padding-left: 15px;
  margin-left: 70px;
}

.dropdown-first:focus,
.dropdown-second:focus {
  outline: none;
}
