.SeoulBasketAlertBox {
  width: 989px;
  height: 73px;
  border-radius: 10px;
  border: 1px solid var(--KG_OUTLINE, #ececec);
  background: #fff;
  margin-top: 51px;

  display: flex;
  align-items: center;
}

.SeoulBasketAlertInner {
  width: 875px;
  height: 39px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.SeoulBasketAlertBoxTwo {
  width: 124px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SeoulBasketAlertTwoText {
  color: var(--KG_PRIMARY, #730ef4);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.836%;
}

.SeoulBasketAlertBoxThree {
  width: 740px;
  height: 36px;

  color: var(--KG_SUBTEXT, #616161);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
}

.SeoulBasketSavedContainer {
  width: 990px;
  height: auto;
  margin-top: 29px;
}

.SeoulBasketSavedTextCategory,
.SeoulBasketSavedTextClassification,
.SeoulBasketSavedTextAddress,
.SeoulBasketSavedTextVisit {
  color: var(--seoul, #3876c0);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

.SeoulBasketSavedTextClassification {
  margin-left: 136px;
}

.SeoulBasketSavedTextAddress {
  margin-left: 233px;
}

.SeoulBasketSavedTextVisit {
  margin-left: 330px;
}

.SeoulBasketSavedCategoryBox {
  width: 990px;
  height: 19px;
  display: flex;
  align-items: center;
}

.SeoulBasketSavedContainerLine {
  width: 990px;
  height: 1px;
  background-color: #ececec;
  margin-top: 12px;
}

.SeoulSavedComponentFrame {
  width: 990px;
  height: 67px;
  border-bottom: 1px solid var(--KG_OUTLINE, #ececec);
  display: flex;
  align-items: center;
}

.SeoulSavedComponentInner {
  width: 953px;
  height: 19px;
  display: flex;
  align-items: center;
}

.SeoulSavedComponentCategory,
.SeoulSavedComponentClassification,
.SeoulSavedComponentAddress {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;

  width: 190px;
}

.SeoulSavedComponentClassification {
  width: 261px;
}

.SeoulSavedComponentAddress {
  width: 379px;
}

.SeoulMainBoxTwo {
  width: 990px;
  height: 76px;
  margin-top: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SeoulSavedComponentDeleteButton {
  width: 13px;
  height: 13px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.SeoulMainBoxThreeTwo {
  width: 668px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0%;
}

.SeoulMainBoxTwoTextOne {
  color: #000;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.28px;
}

.SeoulMainBoxTwoTextTwo {
  color: var(--KG_SUBTEXT, #616161);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}

.SeoulMainBoxFourText {
  color: var(--seoul, #3876c0);
  text-align: right;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
}

.SeoulSavedSelectFrame {
  width: 990px;
  height: 278px;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SeoulSavedSelectBox {
  width: 943px;
  height: 86px;
  border-radius: 10px;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 47px;

  color: var(--seoul, #3876c0);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}

.SeoulSavedSelectBox:hover {
  background: #3876c0;
  color: #f7f7f7;
}

.SeoulTrackButtonFrame {
  width: 378px;
  height: 74px;
  border-radius: 40px;
  background: var(--seoul, #3876c0);
  display: flex;
  align-items: center;

  flex-direction: row-reverse;
  cursor: pointer;
}
