.SignUpStepOnePage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUpFrame {
  position: relative;
  width: 55.5625rem;
  height: 31.6875rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);
}

.PurpleBox {
  position: absolute;
  float: left;
  width: 21.3125rem;
  height: 31.6875rem;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  background: var(--Primary, #730ef4);
}

.WhiteBox {
  width: 34.25rem;
  height: 31.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WhiteBoxInner {
  width: 26.75rem;
  height: 24.125rem;
  /* background-color: antiquewhite; */
}

.TextOne {
  color: #000;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 24.5rem;
  height: auto;
}

.TextTwo {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 12.1875rem;
  height: auto;
  margin-top: 0.625rem;
}

.ButtonContainer {
  position: relative;
  width: 26.75rem;
  height: 17.6875rem;
  margin-top: 2.3125rem;
  display: flex;
  justify-content: space-between;
}

.SelectGuide {
  width: 12.8125rem;
  height: 12.8125rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;

  cursor: pointer;
}

.SelectGuide:hover {
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem #730ef4;
}

.HandImg {
  position: absolute;
  margin-top: 2.9375rem;
}

.SelectGuideTextOne {
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10.4375rem;
}

.SelectGuide:hover .SelectGuideTextOne {
  color: #730ef4;
}

.SelectTourist {
  width: 12.8125rem;
  height: 12.8125rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;

  cursor: pointer;
}

.SelectTourist:hover {
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem #730ef4;
}

.JetImg {
  position: absolute;
  margin-top: 2.9375rem;
}

.SelectGuideTextTwo {
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10.4375rem;
}

.SelectTourist:hover .SelectGuideTextTwo {
  color: #730ef4;
}

.NextStepButton {
  border: none;
  width: 26.75rem;
  height: 2.625rem;
  border-radius: 1.25rem;
  background: var(--Primary, #730ef4);
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.NextStepButtonLink {
  position: absolute;
  bottom: 0;
  width: 26.75rem;
  height: 2.625rem;
}

.SelectGuide.selected,
.SelectTourist.selected {
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem #730ef4;
}

.SelectGuide.selected .SelectGuideTextOne,
.SelectTourist.selected .SelectGuideTextTwo {
  color: #730ef4;
}

.NotionText {
  margin-top: 1.25rem;
  color: red;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
