.NewTrackpage {
  width: 100%;
  height: 3200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackpageInner {
  width: 61.875rem;
  height: 3200px;
  display: inline-block;
  text-align: start;
}

.TextAddNewTrack {
  color: #000;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1rem;
  margin-top: 9.375rem;
}

.NewTrackContainerOne {
  width: 61.875rem;
  height: 16.5rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3.5625rem;
}

.NewTrackContainerOneInner {
  width: 57.3125rem;
  height: 11.125rem;
}

.NewTrackContainerTitleBox {
  width: 57.3125rem;
  height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewTrackContainerTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.055rem;
}

.NewTrackContainerNotificationBox {
  display: flex;
  align-items: center;
  width: auto;
  height: 1.25rem;
}

.RedNotificationImg {
  margin-right: 0.625rem;
}

.RedNotificationText {
  color: #f00;
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackContainerTitleSupplementBox {
  margin-top: 1.0625rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.NewTrackCheckBoxContainer {
  margin-top: 1.875rem;
  width: 40rem;
  height: 5.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NewTrackCheckBox {
  width: 25rem;
  height: 1.375rem;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.NewTrackCheckBoxText {
  color: #000;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 1.25rem;
}

.NewTrackCheckBoxTextSpan {
  color: #730ef4;
}

.NewTrackContainerTwo {
  margin-top: 0.625rem;
  width: 61.875rem;
  height: 35.875rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackContainerTwoInner {
  width: 57.3125rem;
  height: 30.5rem;
}

.ImageSelectTextBox {
  width: 30.6875rem;
  height: 1.1875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.MainImageText,
.SubImageText {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.NewTrackImageSelectContainer {
  width: 57.3125rem;
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5625rem;
}

.MainImageBox {
  width: 25.5625rem;
  height: 23rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.MainImageBox:hover {
  background: #e3e3e3;
}

.selectedMainImage {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  object-fit: contain;
}

.ReactText {
  display: none;
}

.ReactTextBox {
  display: none;
}

.ReactplusImg {
  display: none;
}

.ReactTextTwo {
  display: none;
}

.NewTrackImageComponentFrame {
  width: 5.75rem;
  height: 2.9375rem;
  text-align: center;
}

.NewTrackImageComponentText {
  margin-top: 0.45rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 162.836%;
}

.NewTrackAddImageContainer {
  width: 31rem;
  height: 23rem;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.NewTrackAddImageBoxOne {
  width: 15.1875rem;
  height: 11.1875rem;

  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
}

.NewTrackAddImageBoxOne:hover {
  background: #e3e3e3;
}

.selectedImageOne,
.selectedImageTwo,
.selectedImageThree,
.selectedImageFour {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.NewTrackContainerThree {
  width: 61.875rem;
  height: 16.125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;

  margin-top: 0.625rem;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackContainerThreeTag {
  width: 61.875rem;
  height: 16.125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;

  margin-top: 0.625rem;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackContainerThreeInner {
  width: 57.3125rem;
  height: 10.75rem;
}

.NewTrackFirstInput {
  margin-top: 1.875rem;
  width: 55.75rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #f4f4f4;
  border-color: transparent transparent transparent transparent;
  color: #616161;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding-left: 1.25rem;
}

.NewTrackFirstInput:focus {
  border-color: #730ef4;
}

.NewTrackFirstInputSubBox {
  width: 57.3125rem;
  height: 1.0625rem;
  margin-top: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewTrackFirstInputTranslateBox {
  width: 6.8125rem;
  height: 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.NewTrackFirstInputTranslateText {
  color: #730ef4;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackFirstInputTextLength {
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackContainerFiveInner {
  width: 57.3125rem;
  height: 11rem;
}

.NewTrackContainerFiveInputBox {
  width: 57.3125rem;
  height: 2.8125rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.HashBox {
  height: 2.8125rem;
  width: 2.8125rem;
  background-color: #f4f4f4;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HaskTagSelectButton {
  width: 52.5rem;
  height: 2.8125rem;
  border-radius: 0.625rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  cursor: pointer;
}

.HaskTagSelectButtonText {
  color: #616161;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HaskTageBox {
  width: 57.3125rem;
  height: 1.5625rem;
  margin-top: 0.875rem;
  display: flex;
}

.HaskTagSelectButtonBox {
  width: 48rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HaskTageContent {
  width: auto;
  height: 1.5625rem;
  border-radius: 1.875rem;
  background: #730ef4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.0625rem;
  padding-right: 1.0625rem;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-right: 0.625rem;

  cursor: pointer;
}

.HaskTagSelectFrame {
  width: 52.5rem;
  height: 9.1875rem;
  border-radius: 0.625rem;
  background-color: antiquewhite;
  z-index: 5;
}

.HaskTagSelectFrameBoxOne {
  width: 52.5rem;
  height: 2.8125rem;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  cursor: pointer;
  border: 0.0625rem solid #ececec;
}

.HaskTagSelectFrameBoxTwo {
  width: 52.5rem;
  height: 6.375rem;
  border-radius: 0px 0px 10px 10px;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HaskTagSelectFrameBoxTwoInner {
  width: 48.1875rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.HaskTagSelectFrameContainerOne {
  width: 48.1875rem;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.NewTrackContentFrame {
  margin-top: 0.625rem;
  width: 61.875rem;
  height: 33.375rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TagChoiceFrame {
  width: 5.1875rem;
  height: 1.625rem;
  border-radius: 1.875rem;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #616161;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.NewTrackContentInner {
  width: 57.3125rem;
  height: 27.375rem;
}

.TextAreaTextNumBox {
  width: 57.3125rem;
  height: 0.875rem;
  margin-top: 1rem;
}

.NewTrackFirstTextArea {
  margin-top: 0.625rem;
  width: 52.3125rem;
  height: 19rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #ececec;
  padding-top: 1.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  resize: none;
  outline: none;

  color: var(--KG_SUBTEXT, #616161);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackFirstTextArea:focus {
  border: 0.0625rem solid #730ef4;
}

.NewTrackFirstTextAreaerror {
  border: 0.0625rem solid #f40e0e;
}

.TextSensitiveOption {
  margin-top: 3.125rem;
  color: #000;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackContainerSeven {
  margin-top: 1.1875rem;
  width: 61.875rem;
  height: 7.3125rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #ececec;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackContainerSevenInner {
  width: 55.625rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewTrackContainerSevenBoxOne {
  width: 545px;
  height: 3.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TextAutomaticTranslation {
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TextAutomaticTranslationSub {
  color: #616161;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TranslationButton {
  width: 9.25rem;
  height: 2.4375rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #f94747;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f94747;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.TranslationButton:hover {
  width: 9.25rem;
  height: 2.4375rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #f94747;
  background-color: #f94747;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.NewTrackCompeletButton {
  width: 10.125rem;
  height: 2.625rem;
  border-radius: 0.3125rem 1.25rem 1.25rem 0.3125rem;
  background: #730ef4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  color: #fff;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 3.125rem;
  cursor: pointer;
}

.CantCraeteButton {
  width: 10.125rem;
  height: 2.625rem;
  border-radius: 0.3125rem 1.25rem 1.25rem 0.3125rem;
  background: #fd3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  color: #fff;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 3.125rem;
}

.CantCraeteButtonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CantCraeteButtonText {
  margin-left: 10px;
  color: #fff;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.AIBoxFrame {
  width: 990px;
  height: 55px;
  border-radius: 10px;
  background: linear-gradient(90deg, #730ef4 0%, #bb92ee 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.AIBoxInner {
  width: 910px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AIBoxOne,
.AIBoxTwo {
  width: auto;
  align-items: center;
  display: flex;
}

.AIBoxOneText {
  color: #fff;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.AIBoxTwoText {
  color: var(--KG_OUTLINE, #ececec);
  text-align: right;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-right: 20px;
}

.AIBoxClickBox {
  width: 990px;
  height: 346px;
  border-radius: 10px;
  background: linear-gradient(90deg, #730ef4 0%, #bb92ee 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.AIInputBox {
  width: 910px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AIAskInput {
  width: 840px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: rgba(236, 236, 236, 0.7);
  padding-left: 30px;

  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #730ef4;
}

.AIAskInput::placeholder {
  color: #730ef4;
}

.AIImg4 {
  cursor: pointer;
}

.AIAnswerBox {
  width: 910px;
  height: 185px;
  border-radius: 10px;
  background: rgba(236, 236, 236, 0.7);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TexTAIAnswerPlace {
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(90deg, #730ef4 0%, #bb92ee 366.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.AIBoxFunctionBox {
  width: 910px;
  height: 16px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.AIBoxCopyButton {
  width: 90px;
  display: flex;
  cursor: pointer;
}

.AIBoxPostButton {
  width: 90px;
  display: flex;
  cursor: pointer;
}

.AIBoxFunctionBoxText {
  color: var(--KG_OUTLINE, #ececec);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}

.AIBoxFunctionBoxLine {
  width: 2px;
  height: 10px;
  background-color: rgb(172, 89, 228);
  opacity: 0.5;
  margin-left: 20px;
  margin-right: 20px;
}

.AIWait {
  margin-bottom: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.AIAnswerErrorBox {
  width: 910px;
  height: 185px;
  border-radius: 10px;
  background: rgba(246, 172, 156, 0.66);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.AIError {
  margin-bottom: 20px;
}

.AIAnswerErrorBoxText {
  color: var(--KG_OUTLINE, #ececec);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
}

.AIAnswerArea {
  width: 853px;
  height: 140px;
  text-align: start;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.75;
  color: #730ef4;
  padding-right: 10px;

  overflow: auto;
}

.AIAnswerArea::-webkit-scrollbar {
  width: 3px;
  height: 39px;
}

.AIAnswerArea::-webkit-scrollbar-thumb {
  background-color: #ba91ef;
  border-radius: 6px;
}

.TagedItemContainer {
  margin-top: 20px;
  display: flex;
  z-index: 2;
}

.TagedItem {
  width: 83px;
  height: 26px;
  border-radius: 30px;
  background: var(--KG_OUTLINE, #ececec);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--KG_SUBTEXT, #616161);
  text-align: center;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-right: 20px;
}

@media only screen and (max-width: 990px) {
  .NewTrackContainerTitle {
    font-size: 18px;
  }
  .NewTrackContainerTitleSupplementBox {
    font-size: 12px;
  }
  .RedNotificationText {
    font-size: 12px;
  }
  .NewTrackpageInner {
    width: 655px;
  }
  .NewTrackContainerOne {
    width: 655px;
  }
  .NewTrackContainerOneInner {
    width: 600px;
  }
  .NewTrackContainerTitleBox {
    width: 600px;
  }
  .NewTrackContainerThree {
    width: 655px;
  }
  .NewTrackContainerThreeTag {
    width: 655px;
  }
  .NewTrackContainerThreeInner {
    width: 600px;
  }
  .NewTrackFirstInput {
    width: 580px;
  }
  .NewTrackContainerTwo {
    width: 655px;
  }
  .NewTrackContainerTwoInner {
    width: 600px;
  }
  .MainImageBox {
    width: 300px;
  }
  .NewTrackAddImageBoxOne {
    width: 140px;
    height: 180px;
  }
  .NewTrackAddImageContainer {
    width: 290px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .ImageSelectTextBox {
    width: 380px;
    height: 1.1875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.875rem;
  }
  .NewTrackImageSelectContainer {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5625rem;
  }
  .NewTrackFirstInputSubBox {
    width: 600px;
  }
  .NewTrackContainerFiveInner {
    width: 600px;
  }
  .HaskTagSelectButton {
    width: 540px;
  }
  .NewTrackContainerFiveInputBox {
    width: 600px;
  }
  .HaskTagSelectButtonBox {
    width: 480px;
  }
  .HaskTagSelectFrame,
  .askTagSelectFrameBoxOne,
  .HaskTagSelectFrameBoxTwo,
  .HaskTagSelectFrameBoxOne {
    width: 540px;
  }
  .TagChoiceFrame {
    width: 53px;
  }
  .HaskTagSelectFrameContainerOne {
    width: 520px;
  }
  .AIBoxFrame {
    width: 655px;
  }
  .AIBoxInner {
    width: 600px;
  }
  .AIBoxTwoText {
    font-size: 10px;
  }
  .AIBoxClickBox {
    width: 655px;
  }
  .AIInputBox {
    width: 600px;
  }
  .AIAskInput {
    width: 520px;
  }
  .AIAnswerBox {
    width: 600px;
  }
  .AIBoxFunctionBox {
    width: 600px;
  }
  .AIAnswerErrorBox {
    width: 600px;
  }
  .NewTrackContentFrame {
    width: 655px;
  }
  .NewTrackContentInner {
    width: 600px;
  }
  .NewTrackFirstInputTextLength {
    width: 600px;
  }
  .NewTrackFirstTextArea {
    width: 520px;
  }
  .NewTrackContainerSeven {
    width: 655px;
  }
  .NewTrackContainerSevenInner {
    width: 600px;
  }
  .AIAnswerArea {
    width: 550px;
  }
}

@media only screen and (max-width: 655px) {
  .NewTrackpage {
    height: 2200px;
  }
  .TextAddNewTrack {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;

    margin-top: 96px;
  }
  .purpleCircleImg {
    width: 15px;
    height: 15px;
  }
  .RedNotificationImg {
    width: 12px;
    height: 12px;
    margin: 0;
  }
  .NewTrackContainerTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .NewTrackContainerTitleSupplementBox {
    color: rgba(0, 0, 0, 0.7);
    font-family: Pretendard;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
  }
  .NewTrackContainerTitleSupplementBox {
    margin-top: 10px;
  }
  .RedNotificationText {
    display: none;
  }
  .NewTrackpageInner {
    width: 333px;
    height: 2200px;
  }
  .NewTrackContainerOne {
    border-radius: 0.75rem;
    width: 333px;
    height: 162px;
    margin-top: 20px;
  }
  .NewTrackContainerOneInner {
    width: 292px;
    height: 122px;
  }
  .NewTrackContainerTitleBox {
    width: 292px;
    height: 12px;
  }
  .NewTrackCheckBoxContainer {
    width: 292px;
    margin-top: 20px;
    height: 65px;
  }
  .NewTrackCheckBox {
    width: 292px;
    height: 15px;
  }
  .NewTrackCheckBoxTextSpan {
    font-size: 9px;
  }
  .NewTrackCheckBoxText {
    font-size: 9px;
  }
  .NewTrackContainerThree {
    border-radius: 0.75rem;
    width: 333px;
    height: 122px;
    margin-bottom: 0;
  }
  .NewTrackContainerThreeTag {
    border-radius: 0.75rem;
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
  }
  .NewTrackContainerThreeInner {
    width: 292px;
    height: 81px;
  }
  .NewTrackFirstInputTextLength {
    display: none;
  }
  .NewTrackFirstInput {
    width: 267px;
    margin-top: 14px;
    height: 30px;

    border-radius: 10px;
    border: 1px solid #ececec;
    background: #fff;
    color: #616161;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding-left: 1.25rem;
  }
  .NewTrackContainerTwo {
    border-radius: 0.75rem;
    width: 333px;
    height: 471px;
  }
  .NewTrackContainerTwoInner {
    width: 292px;
    height: 424px;
  }
  .MainImageBox {
    border-radius: 0.75rem;
    width: 292px;
    height: 183px;
  }
  .ReactTextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ReactplusImg {
    display: unset;
    width: 15px;
    height: 15px;
    margin-bottom: 7px;
  }
  .ReactText {
    display: unset;
    color: #616161;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .ReactTextTwo {
    display: unset;
    color: #616161;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .NewTrackAddImageBoxOne {
    width: 140px;
    height: 89px;
    border-radius: 0.75rem;
  }
  .NewTrackAddImageContainer {
    width: 292px;
    height: 189px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ImageSelectTextBox {
    display: none;
  }
  .NewTrackImageSelectContainer {
    width: 292px;
    height: 381px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-top: 0.5625rem;
  }
  .NewTrackImageComponentFrame {
    display: none;
  }
  .NewTrackFirstInputSubBox {
    display: none;
  }
  .NewTrackContainerFiveInner {
    width: 292px;
    height: 160px;
  }
  .NewTrackContainerFiveInputBox {
    margin-top: 15px;
    height: 85px;
    width: 292px;
    display: flex;
    justify-content: center;
  }
  .HashBox {
    display: none;
  }
  .HaskTagSelectFrameBoxOne {
    display: none;
  }
  .HaskTagSelectButtonBox {
    width: 480px;
  }
  .HaskTagSelectFrame,
  .HaskTagSelectFrameBoxTwo,
  .HaskTagSelectFrameBoxTwoInner,
  .HaskTagSelectFrameContainerOne {
    height: 120px;
    width: 252px;
    border-color: #fff;
  }

  .TagChoiceFrame {
    width: 45px;
    height: 20px;
    margin: 5px;
  }
  .TagChoiceText {
    font-size: 8px;
  }
  .AIBoxFrame {
    border-radius: 0.75rem;
    width: 333px;
    height: 40px;
  }
  .AIBoxInner {
    width: 292px;
  }
  .AIImg {
    width: 15px;
    height: 15px;
  }
  .AIBoxOneText {
    font-size: 11px;
  }
  .AIBoxTwoText {
    display: none;
  }
  .AIBoxClickBox {
    width: 333px;
    height: 290px;
  }
  .AIInputBox {
    width: 292px;
  }
  .AIAskInput {
    width: 230px;
    height: 32px;
    font-size: 10px;
    padding-left: 20px;
  }
  .AIAnswerBox {
    width: 292px;
  }
  .AIBoxFunctionBox {
    display: none;
  }
  .AIAnswerErrorBox {
    width: 292px;
  }
  .NewTrackContentFrame {
    width: 333px;
    height: 300px;
    border-radius: 0.75rem;
  }
  .NewTrackContentInner {
    width: 292px;
    height: 260px;
  }
  .NewTrackFirstInputTextLength {
    display: none;
  }
  .TextAreaTextNumBox {
    width: 252px;
    margin: 0;
  }
  .NewTrackFirstTextArea {
    width: 252px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 10px;
    margin-top: 14px;
  }
  .TextSensitiveOption {
    font-size: 20px;
    margin-top: 20px;
  }
  .NewTrackContainerSeven {
    border-radius: 0.75rem;
    width: 333px;
    margin-top: 10px;
  }
  .NewTrackContainerSevenInner {
    width: 292px;
  }
  .TextAutomaticTranslation {
    font-size: 13px;
  }
  .TextAutomaticTranslationSub {
    font-size: 9px;
  }
  .NewTrackContainerSevenBoxOne {
    height: 39px;
  }
  .CantCraeteButton {
    margin-top: 20px;
    width: 333px;
    border-radius: 10px;
  }
  .NewTrackCompeletButton {
    margin-top: 20px;
    width: 333px;
    border-radius: 10px;
  }
  .AIAnswerArea {
    width: 252px;
  }
  .ToggleButtonFrame {
    width: 2.8125rem;
    height: 1.25rem;
    background-color: #eae8e8;

    border-radius: 1.25rem;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
  }

  .ToggleButtonFrame.active {
    background-color: rgb(95, 194, 95);
  }

  .ToggleButtonMainFrame {
    background-color: #eae8e8;

    width: 40px;
    height: 18px;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    justify-content: center;
  }

  .ToggleButtonMainFrame.active {
    background-color: rgb(95, 194, 95);
  }

  .ToggleButtonCircle {
    margin-top: 1px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;

    border-radius: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
  }

  .ToggleButtonCircle.active {
    left: calc(100% - 19px);
  }

  .ToggleButtonLocation {
    margin-left: 16.3rem;
  }
}
