.NewTrackpage {
  width: 100%;
  height: 201.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackpageInner {
  width: 61.875rem;
  height: 201.0625rem;
  display: inline-block;
  text-align: start;
}

.TextAddNewTrack {
  color: #000;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.1rem;

  margin-top: 9.375rem;
}

.NewTrackContainerOne {
  width: 61.875rem;
  height: 16.5rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3.5625rem;
}

.NewTrackContainerOneInner {
  width: 57.3125rem;
  height: 11.125rem;
}

.NewTrackContainerTitleBox {
  width: 57.3125rem;
  height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewTrackContainerTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.055rem;
}

.NewTrackContainerNotificationBox {
  display: flex;
  align-items: center;
  width: auto;
  height: 1.25rem;
}

.RedNotificationImg {
  margin-right: 0.625rem;
}

.RedNotificationText {
  color: #f00;
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackContainerTitleSupplementBox {
  margin-top: 1.0625rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.NewTrackCheckBoxContainer {
  margin-top: 1.875rem;
  width: 40rem;
  height: 5.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NewTrackCheckBox {
  width: 25rem;
  height: 1.375rem;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.NewTrackCheckBoxText {
  color: #000;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 1.25rem;
}

.NewTrackCheckBoxTextSpan {
  color: #730ef4;
}

.NewTrackContainerTwo {
  margin-top: 0.625rem;
  width: 61.875rem;
  height: 35.875rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackContainerTwoInner {
  width: 57.3125rem;
  height: 30.5rem;
}

.ImageSelectTextBox {
  width: 30.6875rem;
  height: 1.1875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.MainImageText,
.SubImageText {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.NewTrackImageSelectContainer {
  width: 57.3125rem;
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5625rem;
}

.MainImageBox {
  width: 25.5625rem;
  height: 23rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.MainImageBox:hover {
  background: #e3e3e3;
}

.selectedMainImage {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  object-fit: contain;
}

.NewTrackImageComponentFrame {
  width: 5.75rem;
  height: 2.9375rem;
  text-align: center;
}

.NewTrackImageComponentText {
  margin-top: 0.45rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 162.836%;
}

.NewTrackAddImageContainer {
  width: 31rem;
  height: 23rem;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.NewTrackAddImageBoxOne {
  width: 15.1875rem;
  height: 11.1875rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
}

.NewTrackAddImageBoxOne:hover {
  background: #e3e3e3;
}

.NewTrackContainerThree {
  width: 61.875rem;
  height: 16.125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;

  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackContainerThreeInner {
  width: 57.3125rem;
  height: 10.75rem;
}

.NewTrackFirstInput {
  margin-top: 1.875rem;
  width: 55.75rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #f4f4f4;
  border-color: transparent transparent transparent transparent;

  padding-left: 1.25rem;
}

.NewTrackFirstInput:focus {
  border-color: #730ef4;
}

.NewTrackFirstInputSubBox {
  width: 57.3125rem;
  height: 1.0625rem;
  margin-top: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewTrackFirstInputTranslateBox {
  width: 6.8125rem;
  height: 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.NewTrackFirstInputTranslateText {
  color: #730ef4;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackFirstInputTextLength {
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackContainerFiveInner {
  width: 57.3125rem;
  height: 11rem;
}

.NewTrackContainerFiveInputBox {
  width: 57.3125rem;
  height: 2.8125rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.HashBox {
  height: 2.8125rem;
  width: 2.8125rem;
  background-color: #f4f4f4;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* .HaskInput {
  width: 52.5rem;
  height: 2.8125rem;
  border-radius: 0.625rem;
  background: #f4f4f4;
  padding-left: 1.25rem;

  border-color: transparent;
} */

.HaskTagSelectButton {
  width: 52.5rem;
  height: 2.8125rem;
  border-radius: 0.625rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  cursor: pointer;
}

.HaskTagSelectButtonText {
  color: #616161;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HaskTageBox {
  width: 57.3125rem;
  height: 1.5625rem;
  margin-top: 0.875rem;
  display: flex;
}

.HaskTagSelectButtonBox {
  width: 48rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HaskTageContent {
  width: auto;
  height: 1.5625rem;
  border-radius: 1.875rem;
  background: #730ef4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.0625rem;
  padding-right: 1.0625rem;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-right: 0.625rem;

  cursor: pointer;
}

.HaskTagSelectFrame {
  width: 52.5rem;
  height: 9.1875rem;
  border-radius: 0.625rem;
  background-color: antiquewhite;
}

.HaskTagSelectFrameBoxOne {
  width: 52.5rem;
  height: 2.8125rem;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  cursor: pointer;
  border: 0.0625rem solid #ececec;
}

.HaskTagSelectFrameBoxTwo {
  width: 52.5rem;
  height: 6.375rem;
  border-radius: 0px 0px 10px 10px;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HaskTagSelectFrameBoxTwoInner {
  width: 48.1875rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.HaskTagSelectFrameContainerOne {
  width: 48.1875rem;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.NewTrackContentFrame {
  margin-top: 0.625rem;
  width: 61.875rem;
  height: 33.375rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TagChoiceFrame {
  width: 5.1875rem;
  height: 1.625rem;
  border-radius: 1.875rem;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #616161;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.NewTrackContentInner {
  width: 57.3125rem;
  height: 27.375rem;
}

.TextAreaTextNumBox {
  width: 57.3125rem;
  height: 0.875rem;
  margin-top: 1rem;
}

.NewTrackFirstTextArea {
  margin-top: 0.625rem;
  width: 52.3125rem;
  height: 19rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #ececec;
  padding-top: 1.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  resize: none;
  outline: none;

  color: var(--KG_SUBTEXT, #616161);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackFirstTextArea:focus {
  border: 0.0625rem solid #730ef4;
}

.NewTrackFirstTextAreaerror {
  border: 0.0625rem solid #f40e0e;
}

.TextSensitiveOption {
  margin-top: 3.125rem;
  color: #000;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NewTrackContainerSeven {
  margin-top: 1.1875rem;
  width: 61.875rem;
  height: 7.3125rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #ececec;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewTrackContainerSevenInner {
  width: 55.625rem;
  height: 3.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewTrackContainerSevenBoxOne {
  width: 545px;
  height: 3.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TextAutomaticTranslation {
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TextAutomaticTranslationSub {
  color: #616161;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TranslationButton {
  width: 9.25rem;
  height: 2.4375rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #f94747;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f94747;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.TranslationButton:hover {
  width: 9.25rem;
  height: 2.4375rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #f94747;
  background-color: #f94747;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.NewTrackCompeletButton {
  width: 10.125rem;
  height: 2.625rem;
  border-radius: 0.3125rem 1.25rem 1.25rem 0.3125rem;
  background: #730ef4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  color: #fff;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 3.125rem;
  cursor: pointer;
}
