.TrackCreatePageFrame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200rem;
}

.TrackCreateInner {
  width: 61.875rem;
  height: 200rem;
  display: inline;
  text-align: start;
}

.textNewTrackAdd {
  color: #000;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 13.5rem;
}

.serviceConsentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5625rem;
  width: 61.875rem;
  height: 18.5rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background-color: white;
}

.serviceConsentInnerContainer {
  width: 56.875rem;
  height: 13.125rem;
}

.serviceConsentBoxOne {
  width: 56.875rem;
  height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textServiceConsent {
  color: #000;
  font-family: Pretendard;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.055rem;
}

.textEssentialInput {
  color: #f00;
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.textServiceConsentServ {
  margin-top: 1.0625rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.consentCheckBox {
  margin-top: 1.75rem;
  width: 50rem;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.consentCheckBoxContainer {
  height: 1.375rem;
  display: flex;
  align-items: center;
}

.consentCheckBoxImg {
  cursor: pointer;
}

.customCheckbox input {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 1.375rem;
  stroke-width: 0.0625rem;
  stroke: #000;
}

.consentCheckBoxText {
  color: #000;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.highlight {
  margin-left: 1.25rem;
  color: #730ef4;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.trackAddImgContainer {
  margin-top: 0.625rem;
  width: 61.875rem;
  height: 35.875rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid #e3e3e3;
  background-color: #fff;
}

.textIncludeImg {
  color: #000;
  font-family: Pretendard;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.055rem;
}

.textIncludeImgContainer {
  width: 56.875rem;
  height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trackAddImgInnerContainer {
  width: 57.3125rem;
  height: 30.5rem;
}

.textIncludeImgServ {
  margin-top: 1.0625rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.trackAddImgContainerTwo {
  margin-top: 1.875rem;
  width: 57.3125rem;
  height: 24.75rem;
  display: flex;
  justify-content: space-between;
}

.trackAddImgContainerThree {
  width: 25.5625rem;
  height: 24.75rem;
}

.mainImgAddContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImgAddInnerContainer {
  height: 2.9375rem;
  width: 5.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.plusImg {
  width: 1.0625rem;
  height: 1.0625rem;
}

.plusImgText {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 162.836%;
}

.trackAddImgContainerFour {
  width: 31rem;
  height: 24.75rem;
}

.textMainImg {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.mainImgAddContainer {
  margin-top: 0.5625rem;
  width: 25.5625rem;
  height: 23rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background: #fff;

  cursor: pointer;
}

.mainImgAddContainer:hover {
  background-color: #e3e3e3;
}

.textAddImg {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.trackAddImgContainerFive {
  margin-top: 0.5625rem;
  height: 23rem;
  width: 31rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.AddImgComponentFrame {
  width: 15.1875rem;
  height: 11.1875rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.AddImgComponentFrame:hover {
  background-color: #e3e3e3;
}

.AddImgComponentInnerBox {
  width: 4.3125rem;
  height: 2.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.AddImgComponentText {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 162.836%;
}

.trackInputComponentFrame {
  margin-top: 0.625rem;
  width: 61.875rem;
  height: 16.125rem;
  border-radius: 1.25rem;
  background-color: #fff;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trackInputComponentTextBoxOne {
  margin-top: 2.6875rem;
  width: 57.3125rem;
  height: 1.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trackInputComponentTextBoxTwo {
  color: #000;
  font-family: Pretendard;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.055rem;
}

.TrackInputComponentContainer {
  display: flex;
  align-items: center;
}

.trackInputComponentTextBoxThree {
  margin-left: 0.625rem;
  color: #f00;
  text-align: right;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.trackInputComponentTextBoxFour {
  margin-top: 1.0625rem;
  width: 57.3125rem;
  display: flex;
}

.trackInputComponentServText {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.trackInputComponentTextBoxFive {
  margin-top: 1.875rem;
  display: flex;
  width: 57.3125rem;
  height: 2.8125rem;
}

.TrackInputComponentInput {
  width: 57.3125rem;
  height: 2.8125rem;
  border-radius: 0.625rem;
  padding-left: 1.25rem;
  color: rgba(0, 0, 0, 1);
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #e3e3e3;
  outline: none;
  background: var(--Sub, #f4f4f4);
}

.TrackInputComponentInput:focus {
  border: 0.0625rem solid #730ef4;
}

.TrackInputComponentInput.error {
  border: 0.0625rem solid red;
}

.textCount {
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.InputUnderBox {
  margin-top: 1.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.translationBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.translationBoxText {
  margin-left: 0.625rem;
  color: var(--Primary, #730ef4);
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tagContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
  width: 57.3125rem;
  height: 2.8125rem;
}

.tagBoxOne {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 0.625rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagBoxOneText {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tagBoxTwo {
  width: 52.5rem;
  height: 2.8125rem;
  border-radius: 0.625rem;
  padding-left: 1.25rem;
  color: rgba(0, 0, 0, 1);
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #e3e3e3;
  outline: none;
  background: var(--Sub, #f4f4f4);
}

.tagBoxTwo:focus {
  border: 0.0625rem solid #730ef4;
}

.tagUnderBox {
  margin-top: 0.875rem;
  width: 57.3125rem;
  height: 1.5625rem;
  display: flex;
}

.tagDisplayBox {
  margin-right: 0.625rem;
  width: 4.1875rem;
  height: 1.5625rem;
  border-radius: 1.875rem;
  background: #730ef4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagText {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.textHere {
  color: var(--Primary, #730ef4);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;

  cursor: pointer;
}

.trackInputComponentFrameTwo {
  margin-top: 0.625rem;
  width: 61.875rem;
  height: 37rem;
  border-radius: 1.25rem;
  background-color: #fff;
  border: 0.0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.specificInput {
  margin-top: 1.875rem;
  width: 57.3125rem;
  height: 22.25rem;
  border-radius: 0.625rem;
  padding-left: 1.25rem;
  padding-top: 1.125rem;
  color: rgba(0, 0, 0, 1);
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #e3e3e3;
  outline: none;
  background: var(--Sub, #f4f4f4);
  resize: none;
}

.specificInput:focus {
  border: 0.0625rem solid #730ef4;
}

.specificInput.error {
  border: 0.0625rem solid red;
}

.trackInputCompeletButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  width: 10.125rem;
  height: 2.625rem;
  border-radius: 0.3125rem 1.25rem 1.25rem 0.3125rem;
  background: var(--Primary, #730ef4);
  color: #fff;
  font-family: Urbanist;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.trackInputCompeletButton:hover {
  border: 0.0625rem solid #730ef4;
  background-color: #fff;
  color: #730ef4;
}
