.MainFifth {
  width: 100%;
  height: 22.375rem;
  display: flex;
  justify-content: center;
  margin-bottom: 9.625rem;
}
.MainFifthFrame {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(83deg, #d9d9d9 -8.89%, #3876c0 63.89%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.MainFifthBigText {
  color: #fff;
  font-family: Pretendard;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  margin: 0%;
}

.MainFifthLitleText {
  color: rgba(255, 255, 255, 0.7);
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: normal;
}

.GetStartButton {
  width: 14.1875rem;
  height: 2rem;
  border-radius: 1.25rem;
  background: #fff;
  border: none;
  margin-top: 1.25rem;
  cursor: pointer;
}

.GetStartButton p {
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: normal;
  background: #3876c0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.GetStartButton:hover {
  opacity: 0.8;
}
