.FooterFrame {
  width: 100%;
  height: 30.375rem;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.useUrbanist {
  font-family: Urbanist !important;
}

.FooterInnerBox {
  width: 990px;
  height: 375px;
  display: flex;
  justify-content: space-between;
}

.MoreInfoBox {
  width: 12.5rem;
  height: 22.5rem;
  text-align: left;
  list-style: none;
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

ul {
  list-style: none;
  padding: 0rem;
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

li {
  padding-bottom: 1.25rem;
}

li a {
  color: #000000;
  text-decoration: none;
}

li a:hover {
  color: #000000;
  text-decoration: underline;
}

.FooterRightTopContainer {
  width: 27.625rem;
  height: 337px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TextFindInApp {
  margin: 0rem;
  text-align: left;
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.AppButtonFrame {
  width: 100%;
  height: 3.5625rem;
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.AppButtonSize {
  width: 12.5625rem;
  height: 3.5625rem;
  border-radius: 0.625rem;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.AppButtonContainerOne {
  width: auto;
  height: 1.5625rem;
  display: flex;
}

.AppImg {
  width: 1.25rem;
  height: 1.5625rem;
  margin-right: 1.125rem;
}

.AppText {
  color: #000;
  text-align: right;
  font-family: 'Urbanist';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.FooterRightBottomContainer {
  position: static;
  left: 31.875rem;
  top: 10.6875rem;
  height: 10.375rem;
}

.TextKG {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.TextBoxOne {
  margin-top: 1.875rem;
  width: auto;
  height: auto;
  display: flex;
}

.TextBoss {
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.TextCJ {
  margin-left: 2.875rem;
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TextBoxTwo {
  margin-top: 1.25rem;
  width: auto;
  height: auto;
  display: flex;
}

.TextCustomerService {
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.TextPhoneNumber {
  margin-left: 1.25rem;
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.TextBoxThree {
  margin-top: 0.625rem;
  width: auto;
  height: auto;
  display: flex;
}

.TextPlusFriend {
  margin-left: 4.5rem;
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;

  cursor: pointer;
}

.TextBoxFour {
  margin-top: 0.625rem;
  width: auto;
  height: auto;
  display: flex;
}

.TextChatBot {
  margin-left: 4.5rem;
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;

  cursor: pointer;
}

.FooterBottomBox {
  position: absolute;
  top: 26.9375rem;
  left: 19.9375rem;
  width: 18.375rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.BottomText {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-width: 990px) {
  .FooterInnerBox {
    width: 655px;
    height: 375px;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 655px) {
  .FooterInnerBox {
    width: 320px;
    height: 375px;
    display: flex;
    flex-direction: column;
  }

  .FooterExtraBox {
    display: none;
  }
}
