.LoadPageFrame {
  width: 100%;
  display: inline-block;
  justify-content: center;
}

.LoadPageInner {
  margin-top: 12rem;
  text-align: center;
}

.LoadPageTitle {
  color: #3876c0;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  margin-top: 3.688rem;
  margin-bottom: 1.875rem;
}

.LoadPageDescription {
  color: #7d7d7d;
  font-family: Pretendard;
  font-size: 1rem;
  line-height: 1.688rem;
}
