html,
body {
  width: 100%;
  overflow-x: hidden;
}

.GuideMainMainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.GuideMainPage {
  display: flex;
  justify-content: center;
}

.GuideMainPageFrame {
  width: 990px;
  height: 2000px;
  text-align: start;
}

.GuideMainPageTitleTextBox {
  margin-top: 151px;
  width: 366px;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GuideMainPageTitleText {
  color: #000;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.6px;
}

.GuideMainPageScheduleBox {
  margin-top: 40px;
  width: 100%;
  height: 68px;
  border-radius: 20px;
  background: linear-gradient(90deg, #730ef4 0%, #6f37b7 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.GuideMainPageScheduleContent {
  width: 909px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GuideMainPageScheduleContentTwo {
  display: flex;
}

.ScheduleBoxText {
  margin-left: 20px;
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ScheduleBoxDateText {
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.GuideMainPageProgressBox {
  margin-top: 40px;
  width: 100%;
  height: 68px;
  border-radius: 20px;
  background: linear-gradient(90deg, #96c272 0%, #55a36b 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.GuideMainPageProgressContent {
  width: 909px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GuideMainPageProgressContentTwo {
  display: flex;
}

.ScheduleBoxText {
  margin-left: 20px;
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ScheduleBoxDateText {
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.GuideMainPageInfoContainer {
  width: 100%;
  height: 288px;
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GuideMainPageInfoBoxOne {
  width: 288px;
  height: 288px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GuideMainPageInfoBoxOneInner {
  width: 210px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GuideMainPageInfoBoxOneText {
  color: #fff;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.GuideMainPageInfoBoxOneFigure {
  color: #fff;
  font-style: normal;
  font-family: Urbanist !important;
  font-weight: 600;
  line-height: normal;
}

.GuideMainPageInfoBoxOneFigureUnit {
  float: bottom;
  margin-left: 10px;
  color: #fff;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.PhoneGuideMainPageInfoContainer {
  display: none;
}

.GuideMainPageTrackTextBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 518px;
  height: 58px;
  margin-top: 100px;
}

.GuideMainPageTrackTextOne {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.GuideMainPageTrackTextTwo {
  color: var(--KG_SUBTEXT, #616161);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.GuidePageTrackComponentContainer {
  width: 990px;
  height: auto;
  display: flex;
  margin-top: 32px;
}

.OnClickProgressBox {
  margin-top: 40px;
  width: 990px;
  height: 179px;
  border-radius: 20px;
  background: linear-gradient(90deg, #96c272 0%, #55a36b 100%);
}

.OnClickProgressBoxFrameOne {
  width: 100%;
  height: 68px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.OnClickProgressBoxFrameTwo {
  width: 100%;
  height: 111px;
  display: flex;
  justify-content: center;
}

.OnClickProgressLevelBox {
  width: 909px;
  height: 86px;
  display: flex;
  justify-content: space-between;
}

.OnClickProgressGroupBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 86px;
}

.OnClickProgressGroupBoxTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 50px;
}

.OnClickProgressLevel {
  width: 400px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OnClickProgressLevelBoxTwo {
  display: flex;
  align-items: center;
}

.CompleteCircle {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #fff;
}

.IncompleteCircle {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.OnClickProgressLevelText {
  margin-left: 10px;
  color: #fff;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.OnClickProgressLevelMissionText {
  color: #fff;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.PortalRankTrackComponentFrame {
  position: relative;
  width: 330px;
  height: 306px;
}

.PortalRankCircle {
  position: absolute;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #730ef4;
  border-radius: 42px;
  z-index: 7;
  top: 0px;
  left: 0px;
}

.PortalRankNum {
  color: #fff;
  text-align: right;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.PortalRankTrackComponentInner {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 320px;
  height: 293px;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  background: #fff;
}

.PortalRankTrackComponentBoxOne {
  width: 320px;
  height: 112px;
  border-radius: 20px 20px 0px 0px;
  background-color: #616161;
}

.TopTrackPrimaryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.PortalRankTrackComponentInnerTwo {
  margin-top: 26px;
  width: 283px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.PortalRankTrackComponentBoxTwo {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.PortalRankTrackComponentBoxThree {
  height: 60px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 116.667%;
  margin-top: 7px;
}

.PortalRankTrackComponentBoxFour {
  display: flex;
  align-items: center;
}

.PortalRankTrackComponentBoxTag {
  margin-right: 10px;
  color: var(--Primary, #730ef4);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.PortalRankTrackComponentBoxFive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.PortalRankTrackComponentBoxSix {
  display: flex;
  align-items: center;
}

.PortalRankTrackComponentBoxProfileImg {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #616161;
}

.PortalRankTrackComponentBoxNickName {
  margin-left: 9px;
  color: var(--KG_SUBTEXT, #616161);
  font-family: Pretendard;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PortalRankTrackComponentBoxSeven {
  display: flex;
  align-items: center;
  width: auto;
}

.PortalRankTrackComponentBoxViewNum {
  color: var(--KG_SUBTEXT, #616161);
  text-align: right;
  font-family: Pretendard;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

@media only screen and (max-width: 990px) {
  .GuideMainPageFrame {
    width: 675px;
    height: 1500px;
    text-align: start;
  }
  .GuideMainPageScheduleContent,
  .GuideMainPageProgressContent {
    width: 615px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .GuideMainPageInfoBoxOne {
    width: 200px;
    height: 200px;
  }

  .GuideMainPageInfoContainer {
    height: 200px;
  }

  .GuideMainPageInfoBoxOneInner {
    width: 150px;
    height: 150px;
  }

  .GuideMainPageInfoBoxOneFigureUnit {
    display: none;
  }

  .GuidePageTrackComponentContainer {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 655px) {
  .GuideMainPageFrame {
    width: 320px;
    height: 1500px;
    text-align: start;
  }
  .GuideMainPageScheduleBox,
  .GuideMainPageProgressBox {
    display: none;
  }

  .GuideMainPageInfoContainer {
    display: none;
  }

  .GuideMainPageTitleTextBox {
    margin-top: 96px;
    width: 183px;
    height: 56px;
  }

  .GuideMainPageTitleText {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
  }

  .PhoneGuideMainPageInfoContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 221px;
  }

  .PhoneGuideMainPageInfoBoxOne,
  .PhoneGuideMainPageInfoBoxThree {
    width: 320px;
    height: 63.245px;
    border-radius: 10px;
    background: linear-gradient(316deg, #730ef4 1.14%, #bb88fb 97.94%);
    display: flex;
    align-items: center;
  }

  .PhoneGuideMainPageInfoBoxTwo {
    width: 320px;
    height: 63.245px;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff1414 0%, #f46363 100%);
    display: flex;
    align-items: center;
  }

  .PhoneGuideMainPageInfoTextBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 262px;
    margin-left: 29px;
  }

  .PhoneGuideMainPageInfoText {
    color: #fff;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .PhoneGuideMainPageInfoTextBoxTwo {
    display: flex;
    align-items: end;
  }

  .PhoneGuideMainPageInfoBoxFigure {
    color: #fff;
    text-align: right;
    font-family: Urbanist;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }

  .PhoneGuideMainPageInfoBoxFigureUnit {
    margin-left: 8px;
    margin-bottom: 5px;
    color: #fff;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .GuideMainPageTrackTextBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 248px;
    height: 66px;
    margin-top: 82px;
  }

  .GuideMainPageTrackTextOne {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
  }

  .GuideMainPageTrackTextTwo {
    color: var(--KG_SUBTEXT, #616161);
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
  }

  .GuidePageTrackComponentContainer {
    width: 310px;
    display: flex;
    flex-direction: column;
  }
}
