.creditManagementMainFrame {
  width: 100%;
  height: 97.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creditManagementInner {
  width: 61.875rem;
  height: 100%;
  display: inline;
  text-align: start;
  /* background-color: red; */
}

.textCreditManagement {
  margin-top: 9.375rem;
  color: #000;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.CreditManagementFirstContainer {
  margin-top: 2.0625rem;
  width: 61.875rem;
  height: 16.1875rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: center;
}

.CreditManagementFirstContainerInnerOne {
  width: 36.25rem;
  height: 8.75rem;
  display: inline;
  text-align: start;
}

.textMyIncome {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textMyIncomeSurv {
  margin-top: 0.625rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.GaudeBarFrame {
  margin-top: 1.0625rem;
  width: 35rem;
  height: 1.0625rem;
  border-radius: 1.25rem;
  background: #f4f4f4;
}

.GaugeBarProgress {
  position: relative;
  height: 1.0625rem;
  border-radius: 1.25rem;
  background: #730ef4;
}

.GaugeBarProgress p {
  position: absolute;
  right: -1.2rem;
  top: 1.7rem;
  margin: 0%;

  color: var(--Primary, #730ef4);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.amountDisplay {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  height: 0.9375rem;
}

.amountDisplay p {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.lastPaymentContainer {
  margin-top: 0.625rem;
  height: 1.1875rem;
  width: 17.9375rem;
  display: flex;
  justify-content: space-between;
}

.calImg {
  width: 1.0625rem;
  height: 1.1875rem;
}

.lastPaymentText {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.creditManagementFirstContainerInnerTwo {
  margin-left: 3rem;
  width: 15.5rem;
  height: 7rem;
  display: flex;
  align-items: center;
}

.myIncomeAccount {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
