.HeaderTwoBoxFrame {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 5.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  backdrop-filter: blur(0.3125rem);

  margin-top: 49px;
}

.HeaderTwoBox {
  position: relative;
  width: 62.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeButtonContainer {
  width: auto;
}

.HomeButtonTwo {
  height: 1.5625rem;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0%;

  cursor: pointer;
}

.HomeButtonImgTwo {
  width: 1.4375rem;
  height: 1.375rem;
  margin-right: 0.5rem;
}

.HomeButtonTextTwo {
  color: var(--Primary, #730ef4);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NavButtonFrame {
  display: flex;
  align-items: center;
}

.NavButtonBox {
  width: 432px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderProfileButton {
  margin: 0%;
  padding: 0%;
  width: 68px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: transparent;

  cursor: pointer;
}

.HeaderProfileButtonText {
  color: #fd9d9d;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HeaderCreditButton {
  margin: 0%;
  padding: 0%;
  width: 56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: transparent;

  cursor: pointer;
}

.HeaderCreditButtonText {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HeaderMypageButton {
  margin: 0%;
  padding: 0%;
  width: 56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: transparent;

  cursor: pointer;
}

.HeaderMypageButtonText {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.MassageButton {
  width: 2.3rem;
  height: 2.3rem;
  margin-left: 3rem;
  border: none;
  background: transparent;

  cursor: pointer;
}

.MassageButtonImg {
  width: 1.6875rem;
  height: 1.6875rem;
  margin: 0%;
}

.UserInformationButton {
  margin-left: 97px;
  width: 5.9375rem;
  border: none;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  cursor: pointer;
}

.UserInformationButtonText {
  color: var(--KG_PRIMARY, #730ef4);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.UserNameButtonImg {
  margin-left: 0.625rem;
}

.HeaderInfoBox {
  position: absolute;
  top: 5.4375rem;
  right: 0px;
  width: 22.75rem;
  height: 13.25rem;
  border-radius: 1.25rem;
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 8;
}

.HeaderInfoInner {
  position: relative;
  width: 17.7087rem;
  height: 7.75rem;
}

.HeaderInfoSetting {
  position: absolute;
  left: 0%;
  top: 0%;
  cursor: pointer;
}

.HeaderInfoSecondBox {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 15.75rem;
  height: 2.875rem;
}

.HeaderNormalProfile {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 2.875rem;
}

.HeaderInfoUserName {
  position: absolute;
  right: 4.125rem;
  top: 0%;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.HeaderInfoUserEmail {
  position: absolute;
  bottom: 0%;
  right: 4.125rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HeaderInfoThridBox {
  position: absolute;
  top: 4.125rem;
  right: 0%;
  width: 15.375rem;
  height: 1.25rem;
  display: flex;
  flex-direction: row-reverse;
}

.HeaderInfoUserAmount {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.HeaderInfoUserAmountNotion {
  color: #730ef4;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-right: 1.875rem;
}

.HeaderInfoLogoutBox {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 5.0625rem;
  height: 1.1875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.HeaderInfoTextLogout {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.MenuImgBox {
  display: none;
}

.ActivityBox {
  position: absolute;
  top: 60px;
  right: 283px;
  width: 153px;
  height: 137px;
  border-radius: 10px;
  border: 1px solid #ececec;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ActivityInnerBox {
  width: 114px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.ActivityBoxMenuText {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.ActivityBoxLine {
  width: 114px;
  height: 1px;
  background: #ececec;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.MenuTrackBoxBox {
  position: absolute;
  top: 60px;
  right: 190px;
  width: 153px;
  height: 98px;
  border-radius: 10px;
  border: 1px solid #ececec;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PhoneMenu {
  display: none;
}

.HeaderSeoulTrackButton {
  margin: 0%;
  padding: 0%;
  width: 132px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: transparent;

  cursor: pointer;
}

.HeaderSeoulTrackButtonText {
  color: var(--seoul, #3876c0);
  text-align: right;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-width: 990px) {
  .HeaderTwoBox {
    width: 655px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .UserInformationButton {
    margin-left: 30px;
    width: 5.9375rem;
    border: none;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    cursor: pointer;
  }
}

@media only screen and (max-width: 655px) {
  .NavButtonFrame {
    display: none;
  }

  .HeaderTwoBoxFrame {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    background-color: #fff;
  }

  .HeaderTwoBox {
    width: 580px;
    height: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .MenuImgBox {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }

  .MenuImg {
    width: 14px;
    height: 14px;
  }

  .HomeButtonContainer {
    width: 140px;
    height: 14px;
    display: flex;
    align-items: center;
  }

  .HomeButtonTwo {
    width: 140px;
    height: 20px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    padding: 0%;

    cursor: pointer;
  }

  .HomeButtonImgTwo {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
  }

  .HomeButtonTextTwo {
    color: #730ef4;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .MenuTrackBoxBox,
  .ActivityBox,
  .HeaderInfoBox {
    display: none;
  }

  .PhoneMenu {
    position: fixed;
    top: 55px;
    left: 0%;
    display: flex;
    width: 100%;
    height: 420px;
    z-index: 6;
    background-color: #fff;
    transform-origin: 50% 0%;

    animation: growBox 0.5s forwards;
  }

  @keyframes growBox {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .animate {
    position: fixed;
    top: 55px;
    left: 0%;
    display: flex;
    width: 100%;
    height: 420px;
    z-index: 6;
    background-color: #fff;
    transform-origin: 50% 0%;

    animation: DownBox 0.5s forwards;
  }

  @keyframes DownBox {
    0% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
    }
  }

  .PhoneMenuInner {
    position: fixed;
    left: 30px;
    height: 420px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .PhoneMenuText {
    margin-top: 25px;
    color: #000;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;

    cursor: pointer;
  }

  .PhoneMenuLogOut {
    color: rgba(0, 0, 0, 0.7);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
  }

  .PhoneMenuLogOutBox {
    position: absolute;
    right: 15%;
    top: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
  }
}
