.HeaderBoxFrame {
  position: fixed;
  top: 52px;
  width: 100%;
  height: 6.375rem;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(0.3125rem);
  background-color: #3875c0bf;
  z-index: 7;
}

.HeaderBox {
  position: relative;
  width: 62.5rem;
  height: 6.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: none;
}

.HeaderBoxNLW {
  width: 176px;
  height: 27px;
}

.HeaderBoxGoToGuideButton {
  width: 123px;
  height: 32px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.HeaderBoxGoToGuideButton:hover {
  opacity: 0.8;
}

.HeaderBoxGoToGuideButtonText {
  color: #3876c0;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
